ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 33px; /*--Set height of tabs--*/
	/*border-bottom: 1px solid #999;*/
	width: 100%;
	
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 32px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 32px; /*--Vertically aligns the text within the tab--*/
	/*border: 1px solid #999;*/
	border-left: none;
	/*margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #9CB7D6;
	margin: 2px;
}
ul.tabs li a {
	text-decoration: none;
	color: #3F4C6B;
	display: block;
	padding: 0 20px;
	/*border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
	font-size: 12px;
}
ul.tabs li a:hover {
	background: #3F4C6B;
	color: #fff;
}
html ul.tabs li.active  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	/*border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
	color: #000;
	font-weight: bold;
	border: 1px solid #9CB7D6;
	border-bottom: none;
}

html ul.tabs li.active a:hover {
	background: #fff;
	color: #000;
}
.tab_container {
	/*border: 1px solid #999;
	border-top: none;*/
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	padding: 5px;
}