/*.elementEven {
  background: #f6f6f6;
}

.elementOdd {
  background: #f6e7f1;
}*/

.RATab {
  padding-top: 10px;
  padding-bottom: 20px;
}


.lzTab {
  position: relative;
}

.tabBtns {
  position: relative;
  width: 100%;
  height: 40px;
}

.tabPrevBtn {
  position: absolute;
  left: 1px;
  bottom: -10px;
}

.tabNextBtn {
  position: absolute;
  right: 1px;
  bottom: -10px;
}

.tabNav {
  font-size: 12px;
  cursor: pointer;
  left: -1px;
  /*color: #fff;
  z-index: 100;
  background: #666;
  padding: 5px;
  background-color: white;*/
  background-image: url('/static/images/more.gif');
  background-position: 0% 0%;
  background-repeat: repeat-x;
  border-color: #DDD #AAA #AAA #DDD;
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 22px;
  line-height: 1.5em;
  margin-bottom: 6px;
  outline: medium none;
  padding: 6px 0px;
  text-align: center;
  text-shadow: white 1px 1px 1px;
  width: 100%;
  /*border: 1px solid #666;*/
}

.tabNav:hover {
  background-position: 0% -78px;
  border: 1px solid #BBB;
  text-decoration: none;
}

a.data {
 color: #EA9C38;
 font-weight: bold;
 text-decoration: underline; 
}

.desc {
  color: #999;
  font-size: 11px;
  font-weight: bold;
}

.date {
  color: #999;
  font-size: 9px;
}

.ElementRA {
  width: 90%;
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
/*
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 5px;
*/
  margin-top: 10px;
  }

.elementOdd .ElementDefault {

  }

.elementEven .ElementDefault {

  }
  
.reco_element {
    padding:10px;
    font-size: 11px;
    color: #363637;
}

.reco_mname, .reco_myear {
    float:left;
    margin-right: 5px;
}
