.BoxSuggestion{
    margin-top: 5px;
}
ul.suggest_tab_title li {
	float: right;
	margin: 0;
	padding: 0;
	border-left: none;
	/*margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	font-weight: bold;
	margin: 2px;
}
ul.suggest_tab_title li a {
	text-decoration: none;
	color: #3F4C6B;
	display: block;
	padding: 0 2px;
	/*border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
    padding: 5px;

}
ul.suggest_tab_title li a:hover {
	background: #3F4C6B;
	color: #fff;
}
html ul.suggest_tab_title li.active  a{ /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #3F4C6B;
	color: #fff;

}