.recommender {
    margin-bottom:2px;
}

.recommender .uname {
    width: 170px;
    float: left;
}

.recommender .uaction {
    float:right;
    text-align: right;
    cursor: pointer;
}

.comment {
    border-bottom: 1px solid #9cb7d6;
    margin-bottom: 5px;
    padding: 5px;
}
