.header {
    width:100%;
    height: 50px;
    background: #3F4C6B no-repeat;
}

.header_wrapper {
    width: 1024px;
    margin-left:auto;
    margin-right: auto;
}
.logo{
    float:left;
}
.user_links{
    float:right;
    margin-top:32px;
}

.user_links, .user_links a{
    color: #fff;
}