.user_action {
    cursor: pointer;
}

.user_info{
    margin-left: 5px;
}

.BoxUser{
    -moz-border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 1px 0 3px #EEEEEE;
	border: 1px solid #CCCCCC;
    padding:3px;
}