.recommender {
    margin-bottom:2px;
}

.recommender .uname {
    width: 170px;
    float: left;
    margin-left: 5px;
}

.recommender .uaction {
    float:right;
    text-align: right;
    cursor: pointer;
}

.comments{
    margin:5px;
    border: solid #a7a7a8 1px;
    padding:5px;
}

.comment {
    border-bottom: 1px solid #9cb7d6;
    margin-bottom: 5px;
    padding: 5px;
}

.message{
    width: 400px;
}
