.clear {
  clear: both;
  }

.main_body {
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
  /*border-left: 1px solid #a8a8a7;
  border-right: 1px solid #a8a8a7;
  /*height: 100%;*/
  padding-bottom: 20px;
  /*overflow:auto;*/
}

.col {
  float: left;  
  }

.centre_col {
  width: 800px;

  }

.right_col {
  position: relative;
  width: 200px;
  margin-left: 10px;
  top: 20px;
  margin-top:50px;
  }
