  
.reco_element {
    padding:10px;
    padding-right: 0px;
    font-size: 11px;
    color: #363637;
}

.reco_mname, .reco_myear {
    float:left;
    margin-right: 5px;
}

.reco_left {
  float:left;
  width: 75%
}

.reco_right {
  float:right;
}

.show_reco {
  cursor:pointer;
}

.reco_ucom {
    width: 330px;
}

select {
  width: 100px;
}

.warn {
  color: #A82232;
}

.delete_reco{
    background: url('/static/images/delete.png');
    width: 15px;
    height:15px;
    float:right;
    margin-right: 5px;
}

.delete_reco:hover {
    background-position: left -30px;
}