html, body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #363637;
  height: 100%;
  width:100%;
}

#wrapper {
  height: auto !important;
  margin: 0 auto -22px;
  min-height: 100%;
  }

#header {
  position: relative;
  height: 50px;
  text-align: center;
  background: #333;
  color: #ccc;
  }

#headerBtns {
  position: absolute;
  right: 10px;
  top: 1px;
  }

#leftCol {
  width: 25%;
  float: left;
  }

#centerCol {
  width: 50%;
  float: left;
  background: #0f0;
  }

#rightCol {
  width: 25%;
  float: left;
  background: #00f;
  }

.italic {
  font-style:italic;
}

.light {
  color: #a7a7a8;
}

.elementEven {
  background: #f6f6f6 !important;
  /*background: #f6f6f6 !important;*/
}

.elementOdd {
  /*background: #C3D9FF !important;
  /*background: #C3D9FF !important;*/
}

.selected {
  color: #D15600;
  text-decoration: none;
}
a  {
  color: #043763;
  text-decoration: none;
}

fieldset {
  border: 1px solid #a7a7a8;
  padding: 10px;
}

.clickable {
  cursor: pointer;
}

.hidden {
  display:none;
}

input {
  background: #fff;
  border: 1px solid #ccc;
  height: 20px;
  margin-bottom: 2px;
  padding: 2px;
}

.push{
  clear:both;
  height: 22px;
  padding-top:5px;
}

.site_help{
  margin-left:5px;
  margin-top: 20px;
}

.help_title{
  font-weight:bold;
}

.bold {
  font-weight: bold;
}
.large {
  font-size: 13px;
}

.help_text{
  margin-bottom:3px;
  text-indent: 5px;
}

.about {
  width: 540px;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  margin-bottom: 30px;
  font-size:13px;
  line-height:20px;
}

.signupnow{
  font-size:14px;
}

.how_to{
  width:500px;
  margin-top: 20px;
  font-size: 14px;
  margin-left:100px;
}

.small{
  font-size: 9px;
}

textarea {
  width: 100%;
  height: 12px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
}

.rcol{
  float: right;
}

.topbox{
  padding-bottom: 5px;
}

.list_WL{
  background: url("/static/images/watch.png") no-repeat  0 50% transparent;
}

.list_SL{
  background: url("/static/images/seen.png") no-repeat 0 50% transparent;
}

.list_FL{
  background: url("/static/images/trash.png") no-repeat 0 50% transparent;
}

.compare_list{
  background: url("/static/images/cmp.png") no-repeat 0 50% transparent;
}

.grid * .list_WL{
  background: url("/static/images/watch.png") no-repeat right 50% transparent;
}

.grid * .list_SL{
  background: url("/static/images/seen.png") no-repeat right 50% transparent;
}

.grid * .list_FL{
  background: url("/static/images/trash.png") no-repeat right 50% transparent;
}

.grid * .compare_list{
  background: url("/static/images/cmp.png") no-repeat right 50% transparent;
}


ul.list_buttons li.list {
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
  padding-left: 20px;
  padding-right: 10px;
}

li.list:hover{
    background-color: #d8dfea;
}

.mimage {
  width: 92px;
  height: 138px;  
}

.mdetail {
  width: 79%;
}

.light {
  color: #a7a7a8;
}

.dark {
  color: #363637;
}

.grid * .mdetail {
  display: none;
}

.grid * .reco_right {
  display: none;
}

.grid * .reco_foot {
  display: none;
}

.grid * .movie_right {
  display: none;
}


.grid .elementEven {
  float:left;
  height: 200px;
}

.grid .elementOdd {
  float:left;
  height: 200px;
}

.img_title {
  font-size: 10px;
  font-weight:bold;
  width: 92px;
}

.qtip-content * .mim {
  display: none;
}

.qtip-content .delete_reco {
  display: none;
}

.grid * .delete_reco{
  margin:0px;
}

.tolist, .togrid {
  margin-right:5px;
  width:27px;
  height:19px;
  cursor: pointer;
  float: left;
}

.tolist{
  background: url('/static/images/list_i.png') no-repeat;
}

.tolist:hover, .tolist.selected{
  background: url('/static/images/list_a.png') no-repeat;
}

.togrid{
  background: url('/static/images/grid_i.png') no-repeat;
}

.togrid:hover, .togrid.selected{
  background: url('/static/images/grid_a.png') no-repeat;
}

#help_site {
  font-size: 14px;
}

.link {
  color: #043763;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.r_selected{
  background: #A0D7E8;
}

.reco_form .reco_action:hover, .reco_form .warn_action:hover{
  background: #A0D7E8;
}

.reco_form .reco_action, .reco_form .warn_action{
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: 1px 0 3px #EEEEEE;
  border-radius: 5px;
}

.page_landing {
  background: url('/static/images/landing.jpg') no-repeat center top fixed;
  
}

.page_landing * .how_to {
  background: white;
  opacity:0.7;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: 1px 0 3px #EEEEEE;
  border-radius: 5px;
  margin-left: 80px;
}

.page_landing * .logins {
  background: white;
  opacity:0.7;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: 1px 0 3px #EEEEEE;
  border-radius: 5px;
  margin-top: 70px;
  padding-right: 45px;
  width: 270px;
}

.page_landing * .logo img {
  display:none;
}

.page_landing * .logo {
  font-size:80px;
  font-family: "museo-1","museo-2";
  padding-top: 4px;
}

.page_landing * .header{
  background:none;
}
.openid_large_btn{
  margin-right: 10px;
}

.sub{
  background: white;
  opacity:0.7;
  padding: 5px;
  font-size: 16px;
  margin-left: 20px;
  float:left;
  width: 585px;
  display:hidden;
  height: 45px;
  padding-top: 25px;
  display:none;
}

.page_landing * .sub{
  display: block;
}

.logo span {
  display:none;
}
.page_landing * .logo span{
  display:block;
}