<div class="search_movie col" data-id="{{data_id}}">
    <form method='post' action='/search'>
        <div class="search_input">
        <!--label>Search for a Movie or User: </label-->
        <input id="main-query" type='text' name='q' value='{{q}}'/>
        

        <button type="submit" class="search_btn clickable">Go</button>
        </div>
        <div class="clear"></div>
    </form>
</div>

<a id="help_site" target="_blank" href="http://blog.cineight.com/get-started" class="col site_help" title="How does this work?">How does this work?</a>
<div class="col site_help">
    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fapps%2Fapplication.php%3Fid%3D103058839759878&amp;layout=button_count&amp;show_faces=false&amp;width=95&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:95px; height:21px;" allowTransparency="true"></iframe>
</div>

<div class="clear"></div>
{% if q %}
<!--
    <span class="italic" style="margin-bottom:5px"> If you didn't find the movie you were looking for, Leave the name plus any other detail in the Feedback Section. I will add it ASAP</span>
-->
{% endif %}
