<div class="signup">
    <div class="signup_error hidden">asdasd</div>
    <form class="signup_form">
        <div class="fieldWrapper">
            <div class="fieldLabel">
                <label for="id_signup_email">Email</label>
            </div>
            <div class="fieldInput">
                <input id="id_signup_email" type="text" name="username"/>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class="fieldLabel">
                <label for="id_signup_pass">Password</label>
            </div>
            <div class="fieldInput">
                <input id="id_signup_pass" type="password" name="password"/>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class="fieldLabel">
                <label for="id_signup_pass2">Repeat Password</label>
            </div>
            <div class="fieldInput">
                <input id="id_signup_pass2" type="password" name="password2"/>
            </div>
        </div>
        <input type="hidden" name="data_id" value="{{data_id}}"/>
        <input id="signup_btn" type="image" value="submit" src="/static/images/signup.png"/>
    </form>
</div>