<div class="header">
    <div class="header_wrapper">
        <div class="col">
            <a class="logo" href="/home"><span>CinEight</span><img src="/static/images/logo.png"/></a>
            <div class="sub tk-museo">A site to list and share your favorite movies. Get and give recommendations.  Warn friends away from bad ones.  And have fun in the process.</div>
            {% if user %}
            <ul class="col topnav">
                <li>
                    <a href="#">Lists</a>
                    <ul class="subnav">
                        {% for li in lists %}
                        <li><a href="/lists/{{li.id}}/{{li.name|slugify}}">{{li.name}}</a></li>
                        {% endfor %}
                        <li><a href="/lists">More</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/home">Home</a>
                </li>
            </ul>
            {% endif %}
        </div>
        
        {% if user %}
            <div class="user_links">
                <a href="/logout">Logout</a>
            </div>
        {% endif %}
    </div>
</div>