
<div class="reco_element" data-id="{{id}}">
    <div class="reco_left">
         <div class="col">
            {% if movie.image %}
            <img src="{{movie.image}}"  alt="{{movie.name}}"/>
            {% else %}
            <img src="/static/images/imagena.png"/>
            {% endif %}
        </div>
        <div class="col" style="padding-left:5px">
            <a href="/movie/{{movie.id}}/{{movie.name|slugify}}">
                <div class="reco_mname bold large">
                    {{movie.name}}
                </div>
                {% if movie.released.year %}
                <div class="reco_myear bold large">
                    ({{movie.released.year}})
                </div>
                {% endif %}
            </a>
            <div class="clear"></div>
            <div class="reco_uname italic light">
                by <a href='/user/{{user_from.id}}/{{user_from.user.first_name|slugify}}'>{{user_from}}</a>
            </div>
            <div class="reco_rate {% if iswarn %} warn {% endif %}">
                <span class="bold">Rating: </span>{{rating}}
            </div>
            <div class="reco_ucom {% if iswarn %} warn {% endif %}">
                <blockquote>{{comment}}</blockquote>
            </div>
            <div class="reco_ts date">
                {{ts|timesince}} ago
            </div>
            
        </div>
        <div class="clear"></div>
        {% include "master/RecommendForm.html" %}
    </div>
    <div class="reco_right">
        <div class="delete_reco clickable" title="Remove this recommendation" data-id="{{delete}}">
            
        </div>
        <div class="clear"></div>
        <ul class="list_buttons" data-id="{{movie.id}}">
            <li class="italic">Add To</li>
            <li data-id="{{wl_list}}" class="list mutex list_WL {% ifequal list 'WL'%}selected{% endifequal %}">To Watch</li>
            <li data-id="{{sl_list}}" class="list mutex list_SL {% ifequal list 'SL'%}selected{% endifequal %}">Seen 'Em</li>
            <li data-id="{{fl_list}}" class="list mutex list_FL {% ifequal list 'FL'%}selected{% endifequal %}">Trash Can</li>
            <li data-id="{{cl_list}}" class="list {% if is_cl %}selected{% endif %} compare_list">Compare List</li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
