        <div class="reco_form" style="width:100%">
            <div class="reco_action clickable {% if is_recod and not is_warn %} r_selected {% endif %}" style="float:left; margin:4px" data-id="{{recommend}}">
                <img src="/static/images/like.png" alt="Recommend"/>
            </div>
            
            <div class="warn_action clickable {% if is_recod and is_warn %} r_selected {% endif %}" style="float:left; margin:4px" data-id="{{warn}}">
                <img src="/static/images/dislike.png" alt="Warn"/>
            </div>
            <div class="clear"></div>
        </div>
