<div class="lzTab RATab UpdateTab">
{% autoescape off %}
<div class="title large bold">Updates</div>

  <div class="elements">
    {% ifequal elements|length 0 %}
      Start by following a few users.
      Visit the various lists or search for movies.
    {% endifequal %}
    {% for e in elements %}
      <div class="{% cycle 'elementEven' 'elementOdd' %}">
     {{ e }}
      </div>
    {% endfor %}
  </div>
      <div class="tabBtns">
        {% if Next %}
        <div class="tabNextBtn tabNav" data-id="{{Next.data_id}}">
          More
        </div>
        {% endif %}
      </div>
{% endautoescape %}
</div>
